<div class="card mt-3">
  <div class="card-body">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="new task text here" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="text-right">
    <span class="text-muted mr-3"><small>Filter:</small></span> 
    <div class="btn-group btn-group-toggle"  role="group" aria-label="Basic example">
      <button type="button" class="btn btn-sm btn-outline-secondary active" data-toggle="button" autocomplete="off" disabled>All</button>
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button" autocomplete="off" disabled>Active</button>
      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="button" autocomplete="off" disabled>Completed</button>
    </div>
    </div>
  </div>
</div>